# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-wheel-metadata/
.eggs/
*.egg-info/
*.egg

# Output directory
# Ignore everything in screenshots initially
screenshots/*
# But un-ignore these specific files
!screenshots/iphone_x_slide-hero.png
!screenshots/xiaohongshu_3_4_1080p_slide-hero.png

# VS Code
.vscode/
